<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/style.css" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <title>Boholand</title>
  </head>
  <body>
    <header class="barra">
      <h1 class="barra__titulo">Boholand</h1>
      <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="../index.html">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./quienessomos.html">Quienes Somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./coleccion.html">Colección</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./diy.html">DIY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <section class="diy">
        <h2 class="tituloprincipal mt-4">Podes hacerlo vos mismo</h2>

        <iframe
          width="640"
          height="360"
          src="https://www.youtube.com/embed/--5r8iwy4YU"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
          class="diy__video"
        ></iframe>
      </section>
    </main>
    <footer class="pie">
      <img src="../multimedia/Boholandlogopng1.png" alt="logo de boholand" />
      <h3 class="frase">A collection of things we love</h3>
      <section class="redessociales">
        <a href="https://www.instagram.com"
          ><img src="../multimedia/logoinsta 2.png" alt="link a instagram"
        /></a>
        <a href="https://www.facebook.com"
          ><img src="../multimedia/facebooklogopng1.png" alt="link a facebook"
        /></a>
        <a href="https://www.whatsapp.com"
          ><img src="../multimedia/logowhatsapp1.png" alt="link a whatsapp"
        /></a>
      </section>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
