.pie {
    /*background-color: #efe9e4;*/
    background: linear-gradient(to right, #ffefba, #ffffff);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0.5rem solid white;
  }
  .frase {
    font-family: brittany;
    font-size: 2.5rem;
  }