.tituloprincipal__contacto {
    @extend .tituloprincipal;
  }
.formularioconsultas {
    @include flexi(flex,column);
    align-items: center;
    &__grilla {
        @include flexi(flex,column);
        align-items: center;
        width: 35rem;
        border: 0.5rem solid white;
        margin-bottom: 9rem;
        font-size: 1.6rem;
      }
  }
  