* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 62.5%;
  }
  body{
    background-image: url("../multimedia/background\ proyecto\ final.png");
    background-size:cover;
    border: solid #293731 4.5px;
  }
  main {
  
    @include flexi(flex,column);
    justify-content: space-between;
  
  }
  